/* Загальні стилі */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #BDF400, #98B72E, #7B9E00, #CFF93E, #DBF970);
}

.hobby-section {
    margin-top: 20px; /* Визначте потрібний розмір верхнього відступу для розділу "Мої хоббі" */
}

.center {
    text-align: center;
}

.center img {
    display: block;
    margin: 0 auto;
}

.container {
  max-width: 1200px; /* Максимальна ширина контенту */
  margin: 0 auto; /* Автоматичний маргін з обох сторін для вирівнювання по центру */
  padding: 20px; /* Додаткові поля */
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #7B9E00; /* Змініть цей колір на той, який вам потрібен */
    padding: 10px; /* Додаткові поля заголовка */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #DBF970; /* Змініть колір тексту посилань на чорний (#000) */
}


section {
  margin-top: 20px; /* Відступ зверху для секції */
background-color: #7B9E00; /* Чорний колір фону для всіх секцій */
    color: white; /* Білий колір тексту в секціях */
    padding: 20px; /* Додаткові внутрішні відступи для тексту */
}

footer {
    margin-top: auto;
    background-color: #7B9E00; /* Чорний колір з повною прозорістю */
    color: white;
    text-align: center;
    padding: 10px 0;
}
th,
td {
color: #DBF970;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #7B9E00; /* Колір фону для елементів таблиці */
}




/* Стилі для заголовків */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #BDF400; /* Колір заголовків */
}

/* Стилі для посилань */
a {
  color: #98B72E; /* Колір посилань */
}

a:hover {
  text-decoration: underline;
}

/* Стилі для тексту */
p {
  color: #DBF970; /* Колір тексту */
}

caption {
    color: #DBF970; /* Чорний колір тексту для заголовка таблиці */
}


/* Стилі для кнопок */
.button {
  background-color: #000
  color: #000; /* Колір тексту на кнопках */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #DBF970; /* Колір фону кнопок при наведенні */
}
