/* Забезпечте видимість потрібного контенту */
.site-title,
.site-header,
.site-footer {
    display: none !important;
}

/* Видалити фонові зображення і кольори */
* {
    background: none !important;
}

a {
    position: relative; /* Потрібно для позиціонування */
}

@media print {
    a[href^="http"]::after {
        content: attr(href); /* Виводимо URL */
        font-family: "Times New Roman", Times, serif; /* Встановлюємо шрифт */
        /* Встановлення властивостей font-family */
        font-family: "Times New Roman", Times, serif !important;
        /* Встановлення розмірів поля */
        padding: 50px !important;
        display: inline-block; /* Забезпечити правильний відступ для URL */
        margin-left: 5px; /* Відступ від гіперпосилання */
    }

    a[href^="http"] {
        color: transparent !important; /* Сховати текст гіперпосилання при друку */
    }
}


/* Встановлення розмірів поля при друці */
@page {
    margin: 50px !important;
}
